$color-active: #5c3caf;
$color-passive: #d8d8d8;


@keyframes animBlock {
    0% {
        opacity: 1;
        left: 0%;
    }

    23% {
        opacity: 1;
        left: 0%;
    }

    27% {
        opacity: 0;
        left: 0%;
    }

    29% {
        opacity: 0;
        left: -100%;
    }

    33% {
        opacity: 1;
        left: - 100%;
    }

    54% {
        opacity: 1;
        left: - 100%;
    }

    60% {
        opacity: 0;
        left: - 100%;
    }

    62% {
        opacity: 0;
        left: - 200%;
    }

    66% {
        opacity: 1;
        left: - 200%;
    }

    91% {
        opacity: 1;
        left: - 200%;
    }

    95% {
        opacity: 0;
        left: - 200%;
    }

    99% {
        opacity: 0;
        left: 0%;
    }

    100% {
        opacity: 0;
        left:  0%;
    }
}

/********************************************************************/

@keyframes animDot1 {
    0% {
        background-color: $color-active;
    }

    32% {
        background-color: $color-active;
    }

    33% {
        background-color: $color-passive;
    }

    65% {
        background-color: $color-passive;
    }

    66% {
        background-color: $color-passive;
    }

    100% {
        background-color: $color-passive;
    }
}

@keyframes animDot2 {
    0% {
        background-color: $color-passive;
    }

    32% {
        background-color: $color-passive;
    }

    33% {
        background-color: $color-active;
    }

    65% {
        background-color: $color-active;
    }

    66% {
        background-color: $color-passive;
    }

    100% {
        background-color: $color-passive;
    }
}

@keyframes animDot3 {
    0% {
        background-color: $color-passive;
    }

    32% {
        background-color: $color-passive;
    }

    33% {
        background-color: $color-passive;
    }

    65% {
        background-color: $color-passive;
    }

    66% {
        background-color: $color-active;
    }

    100% {
        background-color: $color-active;
    }
}