@import 'var';

.downloadSoft {
    display: flex;
    justify-content: center;
    margin-top: 175px;

    &__button {
        position: relative;
        margin: 0 20px;
        width: 320px;
        height: 80px;
        border-radius: 40px/40px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        
        background-color: $color-siren;
        border-color: transparent;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        color: white;

        &:active {
            background-color: #4e32a0;
            border: 3px solid #3e2290;
        }

        &:hover {
          box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 1);
        }

        &__txt_1 {
            font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
            font-weight: 200;
        }

        &__txt_2 {
            font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        &_apple {
            padding-left: 100px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 36px;
                top: 16px;
                width: 40px;
                height: 40px;
                background-image: url('../img/top/icon_apple.svg');
                @extend%bg-pos;
            }
        }

        &_google {
            padding-left: 140px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 60px;
                top: 18px;
                width: 40px;
                height: 40px;
                background-image: url('../img/top/play_store.svg');
                @extend%bg-pos;
            }
        }
    }
}

@media screen and (max-width: $screen-small) {

    .downloadSoft {
        margin-top: 0px;

        &__button {
            margin: 0 5px;
            width: 140px;
            height: 40px;
            border-radius: 20px/20px;
            box-shadow: 1px 12px 8px 7px rgba(56, 38, 38, 0.3);
            border-color: transparent;
            text-align: left;
            font-size: 8px;

            &_apple {
                padding-left: 50px;

                &:before {
                    left: 18px;
                    top: 8px;
                    width: 20px;
                    height: 20px;
                }
            }

            &_google {
                padding-left: 70px;

                &:before {
                    left: 30px;
                    top: 9px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}