$color-siren: #5e42b0;
$color-siren-light: #9b80ec;

// $screen-medium: 1380px;
 $screen-medium: 1200px;
$screen-small: 767px;

%font-pn-bold {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;
}

%font-pn-light {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
}

%font-pn-regular {
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%font-pn-semibold {
    font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

%bg-pos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/***********************************************************************************/

.partAthlets {
    overflow: hidden;
}


.cardTypeAthlets {
    background-color: #fff;

    &__container {
        display: flex;
        max-width: 76%;
        margin: 0 auto;
        padding-left: 2px;
        //justify-content: center;
        justify-content: flex-end;
    }

    &__h3 {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 52px;
        @extend%font-pn-bold;
        font-weight: 800;
        color: #e7e7e7;
        display: inline-block;
        vertical-align: top;

        &__pre {
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            padding-bottom: 6px;
            margin-right: 10px;
            border-bottom: solid 4px $color-siren;
            text-transform: uppercase;
            font-size: 18px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: black;

            &_3 {
                border-bottom: solid 4px white;
            }
        }
    }

    &__wrapper {
        width: 50%;
        padding-left: 60px;
    }

    &__imgHolder {
        width: 50%;
        position: relative;
        background-color: tomato;//------------------------------------------
    }

    &__text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: .9px;

        &_3 {
            color: white;
        }
    }

    &__image {
        position: absolute;
    }


    &__row {
        &_num_00 {
            padding-top: 50px;
            padding-bottom: 10px;
            font-size: 90px;
            line-height: 180px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: #e7e7e7;
            text-transform: uppercase;
        }

        &_num_01 {
            padding-top: 15px;
            padding-bottom: 45px;
            // position: relative;

        }

        &_num_02 {
            padding-top: 54px;
            padding-bottom: 50px;
            background-color: #f6f4fa;
        }

        &_num_03 {
            padding-top: 80px;
            padding-bottom: 90px;
            background-color: #5e42b0;
        }
    }

    &__addon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__image {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.cardTypeAthlets_n {
    &_1 {
            .cardTypeAthlets__image {
                background-image: url('../img/athlets/addon1.svg');
                width: 596px;
                height: 949px;
                top: -420px;
                right: -10px;
            }

            .cardTypeAthlets__addon_1 {
                width: 100%;
                height: 100%;
                background-image: url('../img/athlets/footballer1.gif');
            }

            .cardTypeAthlets__addon_2 {
                width: 48px;
                height: 32px;
                position: absolute;
                top: 10%;
                left: 20%;
                background-image: url('../img/athlets/plus_type1.svg');
            }
    }

    &_2 {
        .cardTypeAthlets__container{
            flex-direction: row-reverse;
        }

        .cardTypeAthlets__wrapper {
            padding-left: 90px;
        }

        .cardTypeAthlets__image {
            background-image: url('../img/athlets/addon2.svg');
            top: -560px;
            left: -100px;
            width: 991px;
            height: 815px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .cardTypeAthlets__addon_1 {
            width: 100%;
            height: 100%;
            background-image: url('../img/athlets/footballer2.gif');

        }

        .cardTypeAthlets__addon_2 {
            width: 48px;
            height: 32px;
            position: absolute;
            top: 16%;
            left: 30%;
            background-image: url('../img/athlets/plus_type2.svg');
        }

        .cardTypeAthlets__addon_3 {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 390px;
            left: 750px;
            background-image: url('../img/athlets/plus.svg');
            // background-color: greenyellow;
        }

        .cardTypeAthlets__row {
            &_num_02 {
                padding-top: 64px;
                padding-bottom: 60px;
                background-color: #f6f4fa;
            }

            &_num_03 {
                padding-top: 90px;
                padding-bottom: 86px;
                background-color: #5e42b0;
            }
        }
    }
}

@media screen and (max-width: $screen-medium) {
    body {
        background-color: rgb(124, 155, 67);
    }

    .cardTypeAthlets__container {
        max-width: 90%;
        padding-left: 0;
    }

    .cardTypeAthlets__text {
        font-size: 18px;
    }

    .cardTypeAthlets__container {
        padding-left: 0px;
    }

    .cardTypeAthlets__row {
        &_num_00 {
            line-height: 140px;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        &_num_01 {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &_num_02 {
            padding-top: 40px;
            padding-bottom: 35px;
        }

        &_num_03 {
            padding-top: 55px;
            padding-bottom: 60px;
            background-color: #5e42b0;
        }
    }

    .cardTypeAthlets_n {
        &_1 {
            .cardTypeAthlets__wrapper {
                width: 64%;
                padding-left: 20px;
                padding-right: 0;
            }

            .cardTypeAthlets__image {
                left: -160px;
                top: -220px;
                width: 460px;
            }

            .cardTypeAthlets__row {
                &_num_02 {
                    padding-top: 40px;
                    padding-bottom: 35px;
                }
            }

            .cardTypeAthlets__row {
                &_num_03 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
        }

        &_2 {

            .cardTypeAthlets__wrapper {
                width: 60%;
                padding-left: 20px;
                padding-right: 55px;
            }

            .cardTypeAthlets__image {
                top: -150px;
                right: 200px;
                height: 540px;
            }

            .cardTypeAthlets__wrapper {
                padding-left: 10px;
            }

            .cardTypeAthlets__row {
                &_num_02 {
                    padding-top: 40px;
                    padding-bottom: 55px;
                }
            }

            .cardTypeAthlets__row {
                &_num_03 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
        }
    }
}


@media screen and (max-width: $screen-small) {
    body {
        background-color: rgb(195, 124, 67);
    }
}