@import 'var';

/***********************************************************************************/

.partAthlets {
    overflow: hidden;
    background-color: #fff;
}

.cardTypeAthlets {
    position: relative;

    &__imgHolder {
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        // background-color: tomato;
    }

    &__image {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__addon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__frame {
        display: flex;
        flex-direction: column;
    }

    &__cont {
        display: flex;
        justify-content: flex-end;
        max-width: 76%;
        margin: 0 auto;
        padding-left: 2px;

    }

    &__h3 {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 52px;
        @extend%font-pn-bold;
        font-weight: 800;
        color: #c1c1c1;
        display: inline-block;
        vertical-align: top;

        &__pre {
            display: inline-block;
            vertical-align: top;
            padding-top: 10px;
            margin-right: 10px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 18px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: black;

            &::after {
                content: "";
                display: block;
                height: 5px;
                width: 100%;
                margin-top: 5px;
                border-radius: 3px;
                background-color: $color-siren;
            }
        }
    }

    &__wrapper {
        width: 50%;
        padding-left: 60px;
    }

    &__text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: .9px;

        &_3 {
            color: white;
        }
    }

    &__row {
        &_num_00 {
            padding-top: 50px;
            padding-bottom: 10px;
            font-size: 90px;
            line-height: 180px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: #e7e7e7;
            text-transform: uppercase;
        }

        &_num_01 {
            padding-top: 15px;
            padding-bottom: 45px;
        }

        &_num_02 {
            padding-top: 54px;
            padding-bottom: 50px;
            background-color: #f6f4fa;
        }

        &_num_03 {
            padding-top: 80px;
            padding-bottom: 90px;
            background-color: #5e42b0;
        }
    }


    &__dots {
        display: none;
    }

    &_n {
        &_1 {
            .cardTypeAthlets__h3__pre_3 {
                color: black;

                &::after {
                    background-color: #c1c1c1;
                }
            }

            .cardTypeAthlets__image {
                background-image: url('../img/athlets/addon1.svg');
                top: calc(50% - 420px);
                right: 40px;
                height: 949px;
                width: 596;
            }

            .cardTypeAthlets__addon_1 {
                width: 100%;
                height: 100%;
                background-image: url('../img/athlets/footballer1.gif');
            }

            .cardTypeAthlets__addon_2 {
                width: 48px;
                height: 32px;
                position: absolute;
                top: 10%;
                left: 25%;
                background-image: url('../img/athlets/plus_type1.svg');
            }
        }

        &_2 {
            .cardTypeAthlets__h3__pre_3 {
                color: #8765dd;
                border-bottom: solid 4px #fff;
            }
        }
    }
}

.cardTypeAthlets_n_2 {

    .cardTypeAthlets__imgHolder {
        margin-left: 50%;
    }

    .cardTypeAthlets__cont {
        flex-direction: row-reverse;
    }

    .cardTypeAthlets__wrapper {
        padding-left: 90px;
    }

    .cardTypeAthlets__image {
        background-image: url('../img/athlets/addon2.svg');
        height: 96%;
        height: 815px;
        width: 991px;
        left: -400px;
        top: -80px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .cardTypeAthlets__addon_1 {
        width: 100%;
        height: 100%;
        background-image: url('../img/athlets/footballer2.gif');

    }

    .cardTypeAthlets__addon_2 {
        width: 48px;
        height: 32px;
        position: absolute;
        top: 130px;
        left: 300px;
        background-image: url('../img/athlets/plus_type2.svg');
    }

    .cardTypeAthlets__addon_3 {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 390px;
        left: 750px;
        background-image: url('../img/athlets/plus.svg');
    }

    .cardTypeAthlets__row {
        &_num_02 {
            padding-top: 64px;
            padding-bottom: 60px;
        }

        &_num_03 {
            padding-top: 90px;
            padding-bottom: 86px;
            background-color: #090c35;
        }
    }
}

/**************************************************************************************/

@media screen and (max-width: $screen-medium) {

    .cardTypeAthlets {

        &__cont {
            max-width: 90%;
            padding-left: 0;
        }

        &__text {
            font-size: 18px;
            letter-spacing: 0;
        }

        &__row {
            &_num_00 {
                line-height: 140px;
                padding-top: 30px;
                padding-bottom: 10px;
            }

            &_num_01 {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &_num_02 {
                padding-top: 40px;
                padding-bottom: 35px;
            }

            &_num_03 {
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: #5e42b0;
            }
        }
    }

    .cardTypeAthlets_n_1 {

        .cardTypeAthlets {
            &__wrapper {
                width: 64%;
                padding-left: 20px;
                padding-right: 0;
            }

            &__image {
                background-image: url('../img/athlets/addon1_768.svg');
                left: -180px;
                top: -30px;
                width: 460px;
            }

            &__addon_2 {
                left: 200px;
            }
        }
    }

    .cardTypeAthlets_n_2 {
        .cardTypeAthlets {
            &__wrapper {
                width: 60%;
                padding-left: 20px;
                padding-right: 55px;
            }

            &__image {
                background-image: url('../img/athlets/addon2_768.svg');
                top: -10px;
                left: -240px;
                height: 540px;
            }

            &__addon_2 {
                top: 80px;
                left: 350px;
            }

            &__wrapper {
                padding-left: 10px;
            }

            &__row_num_03 {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }

}

/**************************************************************************************/
@media screen and (max-width: $screen-small) {
    .partAthlets {

        .cardTypeAthlets {
            background-color: #f5f4f9;

            &__imgHolder {
                z-index: 4;
                width: 100%;
                margin: 0;
                padding: 0;
                height: 240px;
                min-width: 200px;
            }

            &__frame {
                width: 300%;
                flex-direction: row;
                justify-content: flex-start;
                animation-name: animBlock;
                animation-duration: $anim-duration;
                animation-iteration-count: infinite;
                position: relative;
            }

            &__cont {
                width: 100%;
                max-width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin: 0;
                background-color: transparent;
            }

            &__wrapper {
                width: 100%;
                padding-left: 3%;
                padding-right: 3%;
            }

            &__text {
                font-size: 15px;
                letter-spacing: 0;
                color: black;
                padding: 0;
                overflow: hidden;
            }

            &__h3 {
                font-size: 28px;
                line-height: 42px;

                &__pre {
                    color: black;

                    &::after {
                        height: 4px;
                        margin-top: 1px;
                        background-color: $color-siren;
                    }
                }
            }

            &__row {
                &_num_00 {
                    height: 320px;
                    padding-top: 20px;
                    padding-bottom: 0px;
                    font-size: 50px;
                    line-height: 60px;
                    color: #e7e7e7;
                    background-color: #fff;
                }

                &_num_01 {
                    width: 100%;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                }

                &_num_02 {
                    width: 100%;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                }

                &_num_03 {
                    width: 100%;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                }
            }

            &__dots {
                width: 100%;
                height: 35px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 25px;
                background-color: $color-grey-background;

                &_dot {
                    width: 10px;
                    height: 10px;
                    background-color: #d8d8d8;
                    border-radius: 50%;
                    margin: auto 5px;

                    &_1 {
                        animation-name: animDot1;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }

                    &_2 {
                        animation-name: animDot2;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }

                    &_3 {
                        animation-name: animDot3;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }

        .cardTypeAthlets_n_1 {

            .cardTypeAthlets {
                &__image {
                    background-image: url('../img/athlets/addon1_320.svg');
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 80px;
                    height: 300px;
                    background-position: center;
                }

                &__addon_2 {
                    left: calc(50% - 110px);
                    top: 6%;
                }
            }
        }

        .cardTypeAthlets_n_2 {
            .cardTypeAthlets {
                &__image {
                    background-image: url('../img/athlets/addon2_320.svg');
                    width: 100%;
                    left: -18px;
                    top: 55px;
                    height: 300px;
                    background-position: center;
                }

                &__addon_2 {
                    left: calc(50% - 100px);
                    top: 6%;
                }
            }
        }
    }

}

