$color-siren: #5e42b0;
$color-siren-light: #9b80ec;
$color-gray: #e7e7e7;
$color-grey-background: #f5f4f9;

$anim-duration: 5s;

$ttt: rgba(233, 20, 20, 0.4);
$ggg: rgba(118, 250, 118, 0.4);
$rrr: rgba(255, 11, 11, 0.8);

$screen-medium: 1200px;
$screen-small: 767px;

%font-pn-bold {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;
}

%font-pn-light {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
}

%font-pn-regular {
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%font-pn-semibold {
    font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

%bg-pos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/***********************************************************************************/

.partAthlets {
    overflow: hidden;
    background-color: #fff;
}

.cardTypeAthlets {


    &__container {
        display: flex;
        max-width: 76%;
        margin: 0 auto;
        padding-left: 2px;
        justify-content: flex-end;
    }

    &__h3 {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 52px;
        @extend%font-pn-bold;
        font-weight: 800;
        color: #c1c1c1;
        display: inline-block;
        vertical-align: top;

        &__pre {
            display: inline-block;
            vertical-align: top;
            padding-top: 5px;
            padding-bottom: 6px;
            margin-right: 10px;
            border-bottom: solid 4px $color-siren;
            text-transform: uppercase;
            font-size: 18px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: black;
        }
    }

    &_n {
        &_1 {
            .cardTypeAthlets__h3__pre_3 {
                color: black;
                border-bottom: solid 4px #c1c1c1;
                border-bottom: solid 4px #efefef;

            }
        }

        &_2 {
            .cardTypeAthlets__h3__pre_3 {
                color: #8765dd;
                border-bottom: solid 4px #fff;
            }
        }
    }

    &__wrapper {
        width: 50%;
        padding-left: 60px;
    }

    &__imgHolder {
        width: 50%;
        position: relative;
        background-color: transparent;
        // background-color: tomato;
    }

    &__text {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: .9px;

        &_3 {
            color: white;
        }
    }

    &__image {
        position: absolute;
    }

    &__row {
        &_num_00 {
            padding-top: 50px;
            padding-bottom: 10px;
            font-size: 90px;
            line-height: 180px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: #e7e7e7;
            text-transform: uppercase;
        }

        &_num_01 {
            padding-top: 15px;
            padding-bottom: 45px;
        }

        &_num_02 {
            padding-top: 54px;
            padding-bottom: 50px;
            background-color: #f6f4fa;
        }

        &_num_03 {
            padding-top: 80px;
            padding-bottom: 90px;
            background-color: #5e42b0;
        }
    }

    &__addon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__image {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &__dots {
        display: none;
    }
}

.cardTypeAthlets_n {
    &_1 {
        .cardTypeAthlets__image {
            background-image: url('../img/athlets/addon1.svg');
            width: 596px;
            height: 949px;
            top: -416px;
            right: 40px;
        }

        .cardTypeAthlets__addon_1 {
            width: 100%;
            height: 100%;
            background-image: url('../img/athlets/footballer1.gif');
        }

        .cardTypeAthlets__addon_2 {
            width: 48px;
            height: 32px;
            position: absolute;
            top: 10%;
            left: 10%;
            background-image: url('../img/athlets/plus_type1.svg');
        }
    }

    &_2 {
        .cardTypeAthlets__container {
            flex-direction: row-reverse;
        }

        .cardTypeAthlets__wrapper {
            padding-left: 90px;
        }

        .cardTypeAthlets__image {
            background-image: url('../img/athlets/addon2.svg');
            top: -526px;
            left: -140px;
            width: 991px;
            height: 815px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .cardTypeAthlets__addon_1 {
            width: 100%;
            height: 100%;
            background-image: url('../img/athlets/footballer2.gif');

        }

        .cardTypeAthlets__addon_2 {
            width: 48px;
            height: 32px;
            position: absolute;
            top: 130px;
            left: 300px;
            background-image: url('../img/athlets/plus_type2.svg');
        }

        .cardTypeAthlets__addon_3 {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 390px;
            left: 750px;
            background-image: url('../img/athlets/plus.svg');
        }

        .cardTypeAthlets__row {
            &_num_02 {
                padding-top: 64px;
                padding-bottom: 60px;
            }

            &_num_03 {
                padding-top: 90px;
                padding-bottom: 86px;
                background-color: #090c35;
            }
        }
    }
}

/**************************************************************************************/

@media screen and (max-width: $screen-medium) {

    .cardTypeAthlets {


        &__container {
            max-width: 90%;
            padding-left: 0;
        }

        &__text {
            font-size: 18px;
        }

        &__row {
            &_num_00 {
                line-height: 140px;
                padding-top: 30px;
                padding-bottom: 10px;
            }

            &_num_01 {
                //   bottom: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            &_num_02 {
                //   bottom: 0px;
                padding-top: 40px;
                padding-bottom: 35px; //--------------------
            }

            &_num_03 {
                //  bottom: 0px;
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: #5e42b0;
            }
        }
    }

    .cardTypeAthlets_n_1 {

        .cardTypeAthlets {
            &__wrapper {
                width: 64%;
                padding-left: 20px;
                padding-right: 0;
            }

            &__imgHolder {
                width: 36%;
            }

            &__image {
                left: -200px;
                top: -420px;
                width: 460px;
            }

            &__addon_2 {
                left: 200px;
            }
        }
    }

    .cardTypeAthlets_n_2 {
        .cardTypeAthlets {
            &__wrapper {
                width: 60%;
                padding-left: 20px;
                padding-right: 55px;
            }

            &__imgHolder {
                width: 40%;
            }

            &__image {
                top: -350px;
                left: -280px;
                height: 540px;
            }

            &__addon_2 {
                top: 80px;
                left: 350px;
            }

            &__wrapper {
                padding-left: 10px;
            }
        }
    }

}

/**************************************************************************************/
@media screen and (max-width: $screen-small) {
    .partAthlets {

        .cardTypeAthlets {

            position: relative;
            height: 600px;

            &__imgHolder {
                position: absolute;
                z-index: 4;
                visibility: visible;
            }

            &__container {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                display: block;
            }

            &__text {
                font-size: 15px;
                color: black;
                    height: 105px;
                   overflow: hidden;
            }

            &__h3 {
                font-size: 28px;
                line-height: 42px;
            }

            &__wrapper {
                width: 100%;
                min-width: 200px;
                padding-left: 6%;
                padding-right: 6%;

            }

            &__imgHolder {
                width: 100%;
                height: 240px;
                min-width: 200px;
            }

            &__row {
                // overflow: hidden;
                &_num_00 {
                    font-size: 50px;
                    line-height: 60px;
                    padding-top: 20px;
                    padding-bottom: 0px;
                    color: #e7e7e7;
                    background-color: #fff;
                    height: 310px;
                }

                &_num_01 {
                    width: 100%;
                    height: 230px;
                    position: absolute;
                    bottom: 0;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                    animation-name: animBlock1;
                    animation-duration: $anim-duration;
                    animation-iteration-count: infinite;
                }

                &_num_02 {
                    height: 230px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                    animation-name: animBlock2;
                    animation-duration: $anim-duration;
                    animation-iteration-count: infinite;
                }

                &_num_03 {
                    height: 230px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding-top: 80px;
                    padding-bottom: 0;
                    background-color: #f5f4f9;
                    animation-name: animBlock3;
                    animation-duration: $anim-duration;
                    animation-iteration-count: infinite;
                }
            }

            &__dots {
                width: 100%;
                height: 35px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 25px;
                background-color: $color-grey-background;

                &_dot {
                    width: 10px;
                    height: 10px;
                    background-color: #d8d8d8;
                    border-radius: 50%;
                    margin: auto 5px;

                    &_1 {
                        animation-name: animDot1;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }

                    &_2 {
                        animation-name: animDot2;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }

                    &_3 {
                        animation-name: animDot3;
                        animation-duration: $anim-duration;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }

        .cardTypeAthlets_n_1 {

            .cardTypeAthlets__row_num_02 {
                .cardTypeAthlets__wrapper {
                    background-color: #f5f4f9;
                }
            }

            .cardTypeAthlets {

                &__image {
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: -320px;
                    height: 300px;
                    background-position: center;
                }

                &__addon_2 {
                    left: calc(50% - 110px);
                    top: 6%;
                }
            }
        }

        .cardTypeAthlets_n_2 {
            .cardTypeAthlets {

                &__image {
                    width: 100%;
                    left: 0;
                    top: -345px;
                    height: 300px;
                    background-position: center;
                }

                &__addon_2 {
                    left: calc(50% - 110px);
                    top: 6%;
                }
            }
        }
    }

}