@import 'var';

.top {
    width: 100%;
    background-image: url(../img/top/1200/football.jpg);
    padding-bottom: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .top__upperPart {
        display: flex;
        justify-content: space-between;

        .surface {
            width: 200px;
            height: 40px;
            margin-top: 50px;
            margin-left: 10%;
            background-image: url(../img/top/surface1.png);
            @extend %bg-pos;
            background-size: 200px;
        }

        .for-athlets {
            font-size: 14px;
            margin-right: 10%;
            margin-top: 50px;
            color: white;
            line-height: 40px;
            text-transform: uppercase;
        }
    }

    .top__center {
        margin: 300px auto 0 auto;
        position: relative;

        font-size: 90px;
        line-height: 90px;
        @extend %font-pn-bold;
        color: white;
        letter-spacing: 4px;

        .up-text {
            width: 900px;
            text-align: left;
            margin: 0 0 0 9%;
            position: relative;
            z-index: 8;
        }

        .down-text {
            position: relative;
            text-align: right;
            margin-right: 10%;
            z-index: 2;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -80px;
            width: 100%;
            height: 330px;
            background-image: url(../img/top/rectangle.svg);
            background-repeat: no-repeat;
            background-position: 35% 0;
            background-size: contain;
            z-index: 4;
        }
    }

    .top__menu {
        position: relative;
        margin-top: 10px;
        padding-right: 10%;
        z-index: 12;
    }

    .top__menu_ul {

        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;

        .top__menu__li {
            padding: 0px 24px;

            &:last-child {
                padding-right: 0;
            }
        }

        .ref {
            color: $color-siren-light;
        }
    }
}

/*****************************************************************/

@media screen and (max-width: $screen-medium) {
    .top {
        .top__center {
            font-size: 64px;
            margin-top: 170px;
            margin-bottom: 130px;
            line-height: 78px;

            .up-text {
                width: 500px;
                margin-left: calc(50% - 280px);
                margin-right: auto;
            }

            .down-text {
                text-align: left;
                width: 510px;
                margin-left: calc(50% - 180px);
                margin-right: 0;
                // width: 460px;
            }

            &::before {
                top: -20px;
                width: 100%;
                height: 330px;
                background-position: 50% 0;
                z-index: 2;
            }
        }

        .top__menu {
            position: relative;
            margin-top: 10px;
            padding: 25px;
        }

        .top__menu_ul {

            justify-content: space-around;

            .top__menu__li {
                padding: 0px 24px;
            }
        }

        .top__soft {
            margin-top: 100px;
        }
    }

}

/*****************************************************************/

@media screen and (max-width: $screen-small) {
    .top {
        .top__upperPart {
            justify-content: center;

            .surface {
                width: 150px;
                height: 32px;
                margin: 40px 0 0 0;
                background-size: contain;
            }

            .for-athlets {
                display: none;
            }
        }

        .top__center {
            font-size: 32px;
            letter-spacing: 2px;
            margin-top: 130px;
            margin-bottom: 10px;
            line-height: 40px;

            .up-text {
                width: 250px;
                margin-left: calc(50% - 150px);
                margin-right: auto;
            }

            .down-text {
                text-align: left;
                margin-left: calc(50% - 100px);
                margin-right: auto;
                width: 260px;
            }

            &::before {
                top: -20px;
                width: 100%;
                height: 190px;
                background-position: 50% 0;
                z-index: 2;
            }
        }

        .top__menu {
            width: 320px;
            margin: 0 auto;
            top: 140px;
        }

        .top__menu_ul {
            margin: 0;
            width: 100%;
            justify-content: space-around;
            font-size: 12px;
            line-height: 16px;
            font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
            font-weight: 200;

            .top__menu__li {
                padding: 4px 4px;
                margin: 0;
            }

            .top__menu__li:nth-child(4) {
                padding-left: 30px;
                padding-right: 0px;
            }

            .top__menu__li:nth-child(5) {
                padding-left: 0px;
                padding-right: 40px;
            }
        }
    }
}


/**********************************************************************/