$color-siren: #5e42b0;
$color-siren-light: #9b80ec;
$color-gray: #e7e7e7;
$color-grey-background: #f5f4f9;

$anim-duration: 5s;

$screen-medium: 1200px;
$screen-small: 767px;

%font-pn-bold {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;
}

%font-pn-light {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
}

%font-pn-regular {
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%font-pn-semibold {
    font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

%bg-pos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
