$color-siren: #5e42b0;

%font-pn-bold {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;
}

%font-pn-light {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
}

%font-pn-regular {
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%font-pn-semibold {
    font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

%bg-pos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

body {
    background-color: wheat;
    @extend %font-pn-regular;
}

.container {
    max-width: 1920px;
    min-width: 300px;
    margin: 0 auto;
}

.row.top {
    width: 100%;
    //height: 568px;
    //background-image: url(../img/top/320/bg_img.jpg);
    background-image: url(../img/top/1200/football.jpg);

    .top__upperPart {
        display: flex;
        justify-content: space-between;

        .surface {
            width: 150px;
            height: 40px;
            margin-top: 36px;
            margin-left: 193px;
            background-image: url(../img/top/surface1.png);
            @extend %bg-pos;
        }

        .for-athlets {
            font-size: 14px;
            margin-right: 190px;
            margin-top: 50px;
            color: white;
            line-height: 40px;
            text-transform: uppercase;
        }
    }

    .top__center {
        margin: 300px auto 0 auto;
        width: 82%;
        background-image: url(../img/top/rectangle.svg);
        background-repeat: no-repeat;
        background-position: 35% 0;
        background-size: contain;

        font-size: 90px;
        line-height: 90px;
        @extend %font-pn-bold;
        color: white;

        .up-text {
            width: 80%;
            padding-top: 70px;
            min-width: 240px;
            text-align: left;
            float: left;
        }

        .down-text {
            padding-bottom: 70px;
            float: right;
            text-align: right;
            width: 90%;
        }


   
        // @media screen and (min-width: 500px) {

        //     .up-text {
        //         margin-left: 16%;
        //font-size: 32px;
        //     }

        //     .down-text {
        //         margin-right: 16%;
        //font-size: 32px;
        //     }
        // }
    }
    @media screen and (max-width: 767px) {

        .down-text {
            width: 230px;
            margin-right: 3%;
            text-align: left;
            font-size: 64px;
        }
    }


    .menu {
        color: #9071ea;
    }

    .top__soft {
        display: flex;
        justify-content: center;
        margin-top: 80px;

        .button {
            position: relative;
            margin: 0 3%;

            width: 300px;
            height: 80px;
            border-radius: 40px/40px;
            // width: 142px;
            // height: 40px;
            // border-radius: 20px/20px;
            background-color: $color-siren;
            box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 0.52);

            border-color: transparent;
            text-align: left;

            font-size: 8px;
            text-transform: uppercase;
            color: white;

            .btn-txt-1 {
                @extend%font-pn-light;
            }

            .btn-txt-2 {
                @extend%font-pn-semibold;
            }
        }

        .apple {
            padding-left: 50px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 18px;
                top: 6px;
                width: 20px;
                height: 20px;
                background-image: url('../img/top/icon_apple.png');
                @extend%bg-pos;
            }
        }

        .google {
            padding-left: 70px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 28px;
                top: 8px;
                width: 20px;
                height: 20px;
                background-image: url('../img/top/icon_google_play.png');
                @extend%bg-pos;
            }
        }
    }

    .top__menu {
        position: relative;
        margin: 0 auto;
        min-width: 312px;
    }

    .top__menu_ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        padding: 0 20px;

        .top__menu__li {
            padding: 0px 8px;
        }

        .ref {
            color: $color-siren;
        }
    }

    @media screen and (max-width: 767px) {
        .top__menu {
            width: 320px;
            margin: 0 auto;

            top: 190px;
        }

        .top__menu_ul {
            justify-content: space-around;
        }

        .top__menu__li {
            float: none;
        }

        .top__menu__li:nth-child(4) {
            padding-left: 30px;
            padding-right: 0px;
        }

        .top__menu__li:nth-child(5) {
            padding-left: 0px;
            padding-right: 40px;
        }
    }
}


@media screen and (max-width: 767px) {
    body {
        background-color: rgb(124, 155, 67);
    }

}

@media screen and (max-width: 324px) {
    body {
        background-color: rgb(155, 124, 67);
    }

}

/*

.s1 {
    @extend %font-pn-bold;
}

.s2 {
    @extend %font-pn-light;
}

.s3 {
    @extend %font-pn-regular;
}

.s4 {
    @extend %font-pn-semibold;
}

*/