$color-siren: #5e42b0;

$screen-medium: 1380px;
$screen-small: 767px;

%font-pn-bold {
    font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
    font-weight: 800;
}

%font-pn-light {
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
}

%font-pn-regular {
    font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

%font-pn-semibold {
    font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

%bg-pos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*****************************************************************************/
body {
    background-color: wheat;
    @extend %font-pn-regular;
}

.container {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
}

/****************************************************************************/

.top {
    width: 100%;
    background-image: url(../img/top/1200/football.jpg);
    padding-bottom: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .top__upperPart {
        display: flex;
        justify-content: space-between;

        .surface {
            width: 200px;
            height: 40px;
            margin-top: 50px;
            margin-left: 10%;
            background-image: url(../img/top/surface1.png);
            @extend %bg-pos;
            background-size: 200px;
        }

        .for-athlets {
            font-size: 14px;
            margin-right: 10%;
            margin-top: 50px;
            color: white;
            line-height: 40px;
            text-transform: uppercase;
        }
    }

    .top__center {
        margin: 300px auto 0 auto;
        position: relative;

        font-size: 90px;
        line-height: 90px;
        @extend %font-pn-bold;
        color: white;
        letter-spacing: 5px;

        .up-text {
            width: 900px;
            text-align: left;
            margin: 0 0 0 9%;
            position: relative;
            z-index: 8;
        }

        .down-text {
            position: relative;
            text-align: right;
            margin-right: 9%;
            z-index: 2;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -80px;
            width: 100%;
            height: 330px;
            background-image: url(../img/top/rectangle.svg);
            background-repeat: no-repeat;
            background-position: 35% 0;
            background-size: contain;
            z-index: 4;
        }
    }

    .top__menu {
        position: relative;
        margin-top: 10px;
        padding-right: 9%;
        z-index: 12;
    }

    .top__menu_ul {

        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;

        .top__menu__li {
            padding: 0px 24px;

            &:last-child {
                padding-right: 0;
            }
        }

        .ref {
            color: $color-siren;
        }
    }

    .top__soft {
        display: flex;
        justify-content: center;
        margin-top: 175px;

        .button {
            position: relative;
            margin: 0 20px;
            width: 320px;
            height: 80px;
            border-radius: 40px/40px;
            background-color: $color-siren;
            box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 0.3);
            border-color: transparent;
            text-align: left;
            font-size: 14px;
            text-transform: uppercase;
            color: white;

            &:focus {
                border: transparent 0px solid;
            }

            &:hover {
                box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 0.9);
            }

            .btn-txt-1 {
                @extend%font-pn-light;
            }

            .btn-txt-2 {
                @extend%font-pn-semibold;
            }
        }

        .apple {
            padding-left: 100px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 36px;
                top: 16px;
                width: 40px;
                height: 40px;
                background-image: url('../img/top/icon_apple.svg');
                @extend%bg-pos;
            }
        }

        .google {
            padding-left: 140px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 60px;
                top: 18px;
                width: 40px;
                height: 40px;
                background-image: url('../img/top/play_store.svg');
                @extend%bg-pos;
            }
        }
    }
}


/*****************************************************************/

@media screen and (max-width: $screen-medium) {
    .top {
        .top__center {
            font-size: 64px;
            margin-top: 170px;
            line-height: 78px;

            .up-text {
                width: 500px;
                margin-left: calc(50% - 280px);
                margin-right: auto;
            }

            .down-text {
                text-align: left;
                margin: 0 auto 0 calc(50% - 180px);
                width: 460px;
            }

            &::before {
                top: -20px;
                width: 100%;
                height: 330px;
                background-position: 50% 0;
                z-index: 2;
            }
        }

        .top__menu {
            position: relative;
            margin-top: 10px;
            padding: 25px;
        }

        .top__menu_ul {

            justify-content: space-around;

            .top__menu__li {
                padding: 0px 24px;
            }

            .ref {
                color: $color-siren;
            }
        }
    }
}



/*****************************************************************/

@media screen and (max-width: $screen-small) {
    .top {
        .top__upperPart {
            justify-content: center;

            .surface {
                width: 150px;
                height: 32px;
                margin: 40px 0 0 0;
                background-size: contain;
            }

            .for-athlets {
                display: none;
            }
        }

        .top__center {
            font-size: 32px;
            margin-top: 130px;
            line-height: 40px;

            .up-text {
                width: 240px;
                margin: 0 0 0 10%;
                margin-left: calc(50% - 120px);
                margin-right: auto;
            }

            .down-text {
                text-align: left;
                margin-left: calc(50% - 85px);
                margin-right: auto;
                width: 240px;
            }

            &::before {
                top: -20px;
                width: 100%;
                height: 190px;
                background-position: 50% 0;
                z-index: 2;
            }
        }

        .top__menu {
            width: 320px;
            margin: 0 auto;
            top: 248px;
        }

        .top__menu_ul {
            margin: 0;
            width: 100%;
            justify-content: space-around;
            font-size: 12px;
            line-height: 16px;
            font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
            font-weight: 200;

            .top__menu__li {
                padding: 4px 4px;
                margin: 0;
            }

            .top__menu__li:nth-child(4) {
                padding-left: 30px;
                padding-right: 0px;
            }

            .top__menu__li:nth-child(5) {
                padding-left: 0px;
                padding-right: 40px;
            }
        }

        .top__soft {
            display: flex;
            justify-content: center;
            margin-top: 110px;

            .button {
                margin: 0 20px;
                width: 140px;
                height: 40px;
                border-radius: 20px/20px;
                box-shadow: 1px 12px 8px 7px rgba(56, 38, 38, 0.3);
                border-color: transparent;
                text-align: left;
                font-size: 8px;
            }

            .apple {
                padding-left: 50px;

                &:before {
                    left: 18px;
                    top: 8px;
                    width: 20px;
                    height: 20px;
                }
            }

            .google {
                padding-left: 70px;

                &:before {
                    left: 30px;
                    top: 9px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}


/**********************************************************************/

// .partAthlets {

    .cardTypeAthlets {
        background-color: #fff;

        &__h3 {
            text-transform: uppercase;
            font-size: 36px;
            @extend%font-pn-bold;
            font-weight: 800;
            color: #e7e7e7;
        }

        &__image {
            position: absolute;
            width: 660px;
            height: 1000px;
            background-image: url('../img/athlets/footballer.png');
            background-repeat: no-repeat;
            top: -220px;
            right: 95%;
        }

        &__row {
            display: flex;
            padding-top: 40px;
            padding-bottom: 40px;

            &_num_00 {
                background-color: tomato;
                padding-top: 190px;
                padding-bottom: 50px;
                font-size: 90px;
                @extend%font-pn-bold;
                font-weight: 800;
                color: #e7e7e7;
            }

            &_num_01 {
                padding-top: 10px;
            }

            &_num_02 {
                padding: 20px 10px;
                background-color: #f6f4fa;
            }

            &_num_03 {
                padding: 20px 10px;
                background-color: #5e42b0;
            }


        }

        &__wrapper {
            width: 50%;
            position: relative;
            padding-left: 60px;
        }



        &__text {
            font-size: 20px;
        }

        &:nth-child(2n+1) {
            .cardTypeAthlets__row {
                justify-content: flex-end;
            }
        }

        &:nth-child(2n) {
            .cardTypeAthlets__row {
                justify-content: flex-start;
            }
        }
    }

// }


// @media screen and (max-width: $screen-medium) {
//     body {
//         background-color: rgb(124, 155, 67);
//     }
// }


// @media screen and (max-width: $screen-small) {
//     body {
//         background-color: rgb(195, 124, 67);
//     }
// }

.whitty {
    width: 100%;
    height: 1500px;

}