.top .top__center {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.top .top__soft .button .btn-txt-1 {
  font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
  font-weight: 200;
}

body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.top .top__soft .button .btn-txt-2 {
  font-family: "ProximaNova-Semibold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.top .top__soft .google:before, .top .top__soft .apple:before, .top .top__upperPart .surface {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.top {
  width: 100%;
  background-image: url(../img/top/1200/football.jpg);
  padding-bottom: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top .top__upperPart {
  display: flex;
  justify-content: space-between;
}
.top .top__upperPart .surface {
  width: 200px;
  height: 40px;
  margin-top: 50px;
  margin-left: 10%;
  background-image: url(../img/top/surface1.png);
  background-size: 200px;
}
.top .top__upperPart .for-athlets {
  font-size: 14px;
  margin-right: 10%;
  margin-top: 50px;
  color: white;
  line-height: 40px;
  text-transform: uppercase;
}
.top .top__center {
  margin: 300px auto 0 auto;
  position: relative;
  font-size: 90px;
  line-height: 90px;
  color: white;
  letter-spacing: 4px;
}
.top .top__center .up-text {
  width: 900px;
  text-align: left;
  margin: 0 0 0 9%;
  position: relative;
  z-index: 8;
}
.top .top__center .down-text {
  position: relative;
  text-align: right;
  margin-right: 11%;
  z-index: 2;
}
.top .top__center::before {
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  width: 100%;
  height: 330px;
  background-image: url(../img/top/rectangle.svg);
  background-repeat: no-repeat;
  background-position: 35% 0;
  background-size: contain;
  z-index: 4;
}
.top .top__menu {
  position: relative;
  margin-top: 10px;
  padding-right: 9%;
  z-index: 12;
}
.top .top__menu_ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}
.top .top__menu_ul .top__menu__li {
  padding: 0px 24px;
}
.top .top__menu_ul .top__menu__li:last-child {
  padding-right: 0;
}
.top .top__menu_ul .ref {
  color: #9b80ec;
}
.top .top__soft {
  display: flex;
  justify-content: center;
  margin-top: 175px;
}
.top .top__soft .button {
  position: relative;
  margin: 0 20px;
  width: 320px;
  height: 80px;
  border-radius: 40px/40px;
  background-color: #5e42b0;
  box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 0.3);
  border-color: transparent;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}
.top .top__soft .button:focus {
  border: transparent 0px solid;
}
.top .top__soft .button:hover {
  box-shadow: 1px 12px 8px 7px rgba(0, 0, 0, 0.9);
}
.top .top__soft .apple {
  padding-left: 100px;
}
.top .top__soft .apple:before {
  content: "";
  display: block;
  position: absolute;
  left: 36px;
  top: 16px;
  width: 40px;
  height: 40px;
  background-image: url("../img/top/icon_apple.svg");
}
.top .top__soft .google {
  padding-left: 140px;
}
.top .top__soft .google:before {
  content: "";
  display: block;
  position: absolute;
  left: 60px;
  top: 18px;
  width: 40px;
  height: 40px;
  background-image: url("../img/top/play_store.svg");
}

/*****************************************************************/
@media screen and (max-width: 1380px) {
  .top .top__center {
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 130px;
    line-height: 78px;
  }
  .top .top__center .up-text {
    width: 500px;
    margin-left: calc(50% - 280px);
    margin-right: auto;
  }
  .top .top__center .down-text {
    text-align: left;
    width: 510px;
    margin-left: calc(50% - 180px);
    margin-right: 0;
  }
  .top .top__center::before {
    top: -20px;
    width: 100%;
    height: 330px;
    background-position: 50% 0;
    z-index: 2;
  }
  .top .top__menu {
    position: relative;
    margin-top: 10px;
    padding: 25px;
  }
  .top .top__menu_ul {
    justify-content: space-around;
  }
  .top .top__menu_ul .top__menu__li {
    padding: 0px 24px;
  }
  .top .top__soft {
    margin-top: 100px;
  }
}
/*****************************************************************/
@media screen and (max-width: 767px) {
  .top .top__upperPart {
    justify-content: center;
  }
  .top .top__upperPart .surface {
    width: 150px;
    height: 32px;
    margin: 40px 0 0 0;
    background-size: contain;
  }
  .top .top__upperPart .for-athlets {
    display: none;
  }
  .top .top__center {
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 130px;
    margin-bottom: 10px;
    line-height: 40px;
  }
  .top .top__center .up-text {
    width: 250px;
    margin-left: calc(50% - 150px);
    margin-right: auto;
  }
  .top .top__center .down-text {
    text-align: left;
    margin-left: calc(50% - 100px);
    margin-right: auto;
    width: 260px;
  }
  .top .top__center::before {
    top: -20px;
    width: 100%;
    height: 190px;
    background-position: 50% 0;
    z-index: 2;
  }
  .top .top__menu {
    width: 320px;
    margin: 0 auto;
    top: 140px;
  }
  .top .top__menu_ul {
    margin: 0;
    width: 100%;
    justify-content: space-around;
    font-size: 12px;
    line-height: 16px;
    font-family: "ProximaNova-Light", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  .top .top__menu_ul .top__menu__li {
    padding: 4px 4px;
    margin: 0;
  }
  .top .top__menu_ul .top__menu__li:nth-child(4) {
    padding-left: 30px;
    padding-right: 0px;
  }
  .top .top__menu_ul .top__menu__li:nth-child(5) {
    padding-left: 0px;
    padding-right: 40px;
  }
  .top .top__soft {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .top .top__soft .button {
    margin: 0 5px;
    width: 140px;
    height: 40px;
    border-radius: 20px/20px;
    box-shadow: 1px 12px 8px 7px rgba(56, 38, 38, 0.3);
    border-color: transparent;
    text-align: left;
    font-size: 8px;
  }
  .top .top__soft .apple {
    padding-left: 50px;
  }
  .top .top__soft .apple:before {
    left: 18px;
    top: 8px;
    width: 20px;
    height: 20px;
  }
  .top .top__soft .google {
    padding-left: 70px;
  }
  .top .top__soft .google:before {
    left: 30px;
    top: 9px;
    width: 20px;
    height: 20px;
  }
}
/**********************************************************************/
.cardTypeAthlets__row_num_00, .cardTypeAthlets__h3__pre, .cardTypeAthlets__h3 {
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/***********************************************************************************/
.partAthlets {
  overflow: hidden;
  background-color: #fff;
}

.cardTypeAthlets__container {
  display: flex;
  max-width: 76%;
  margin: 0 auto;
  padding-left: 2px;
  justify-content: flex-end;
}
.cardTypeAthlets__h3 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 52px;
  font-weight: 800;
  color: #c1c1c1;
  display: inline-block;
  vertical-align: top;
}
.cardTypeAthlets__h3__pre {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-right: 10px;
  border-bottom: solid 4px #5e42b0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  color: black;
}
.cardTypeAthlets_n_1 .cardTypeAthlets__h3__pre_3 {
  color: black;
  border-bottom: solid 4px #c1c1c1;
  border-bottom: solid 4px #efefef;
}
.cardTypeAthlets_n_2 .cardTypeAthlets__h3__pre_3 {
  color: #8765dd;
  border-bottom: solid 4px #fff;
}
.cardTypeAthlets__wrapper {
  width: 50%;
  padding-left: 60px;
}
.cardTypeAthlets__imgHolder {
  width: 50%;
  position: relative;
  background-color: transparent;
}
.cardTypeAthlets__text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.9px;
}
.cardTypeAthlets__text_3 {
  color: white;
}
.cardTypeAthlets__image {
  position: absolute;
}
.cardTypeAthlets__row_num_00 {
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 90px;
  line-height: 180px;
  font-weight: 800;
  color: #e7e7e7;
  text-transform: uppercase;
}
.cardTypeAthlets__row_num_01 {
  padding-top: 15px;
  padding-bottom: 45px;
}
.cardTypeAthlets__row_num_02 {
  padding-top: 54px;
  padding-bottom: 50px;
  background-color: #f6f4fa;
}
.cardTypeAthlets__row_num_03 {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: #5e42b0;
}
.cardTypeAthlets__addon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardTypeAthlets__image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardTypeAthlets__dots {
  display: none;
}

.cardTypeAthlets_n_1 .cardTypeAthlets__image {
  background-image: url("../img/athlets/addon1.svg");
  width: 596px;
  height: 949px;
  top: -416px;
  right: 40px;
}
.cardTypeAthlets_n_1 .cardTypeAthlets__addon_1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/athlets/footballer1.gif");
}
.cardTypeAthlets_n_1 .cardTypeAthlets__addon_2 {
  width: 48px;
  height: 32px;
  position: absolute;
  top: 10%;
  left: 10%;
  background-image: url("../img/athlets/plus_type1.svg");
}
.cardTypeAthlets_n_2 .cardTypeAthlets__container {
  flex-direction: row-reverse;
}
.cardTypeAthlets_n_2 .cardTypeAthlets__wrapper {
  padding-left: 90px;
}
.cardTypeAthlets_n_2 .cardTypeAthlets__image {
  background-image: url("../img/athlets/addon2.svg");
  top: -526px;
  left: -140px;
  width: 991px;
  height: 815px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardTypeAthlets_n_2 .cardTypeAthlets__addon_1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/athlets/footballer2.gif");
}
.cardTypeAthlets_n_2 .cardTypeAthlets__addon_2 {
  width: 48px;
  height: 32px;
  position: absolute;
  top: 130px;
  left: 300px;
  background-image: url("../img/athlets/plus_type2.svg");
}
.cardTypeAthlets_n_2 .cardTypeAthlets__addon_3 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 390px;
  left: 750px;
  background-image: url("../img/athlets/plus.svg");
}
.cardTypeAthlets_n_2 .cardTypeAthlets__row_num_02 {
  padding-top: 64px;
  padding-bottom: 60px;
}
.cardTypeAthlets_n_2 .cardTypeAthlets__row_num_03 {
  padding-top: 90px;
  padding-bottom: 86px;
  background-color: #090c35;
}

/**************************************************************************************/
@media screen and (max-width: 1200px) {
  .cardTypeAthlets__container {
    max-width: 90%;
    padding-left: 0;
  }
  .cardTypeAthlets__text {
    font-size: 18px;
    letter-spacing: 0;
  }
  .cardTypeAthlets__row_num_00 {
    line-height: 140px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .cardTypeAthlets__row_num_01 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .cardTypeAthlets__row_num_02 {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .cardTypeAthlets__row_num_03 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5e42b0;
  }

  .cardTypeAthlets_n_1 .cardTypeAthlets__wrapper {
    width: 64%;
    padding-left: 20px;
    padding-right: 0;
  }
  .cardTypeAthlets_n_1 .cardTypeAthlets__imgHolder {
    width: 36%;
  }
  .cardTypeAthlets_n_1 .cardTypeAthlets__image {
    background-image: url("../img/athlets/addon1_768.svg");
    left: -220px;
    top: -400px;
    width: 460px;
  }
  .cardTypeAthlets_n_1 .cardTypeAthlets__addon_2 {
    left: 200px;
  }

  .cardTypeAthlets_n_2 .cardTypeAthlets__wrapper {
    width: 60%;
    padding-left: 20px;
    padding-right: 55px;
  }
  .cardTypeAthlets_n_2 .cardTypeAthlets__imgHolder {
    width: 40%;
  }
  .cardTypeAthlets_n_2 .cardTypeAthlets__image {
    background-image: url("../img/athlets/addon2_768.svg");
    top: -370px;
    left: -270px;
    height: 540px;
  }
  .cardTypeAthlets_n_2 .cardTypeAthlets__addon_2 {
    top: 80px;
    left: 350px;
  }
  .cardTypeAthlets_n_2 .cardTypeAthlets__wrapper {
    padding-left: 10px;
  }
  .cardTypeAthlets_n_2 .cardTypeAthlets__row_num_03 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/**************************************************************************************/
@media screen and (max-width: 767px) {
  .partAthlets .cardTypeAthlets {
    position: relative;
    height: 610px;
  }
  .partAthlets .cardTypeAthlets__imgHolder {
    position: absolute;
    z-index: 4;
    visibility: visible;
    width: 100%;
    height: 240px;
    min-width: 200px;
  }
  .partAthlets .cardTypeAthlets__container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .partAthlets .cardTypeAthlets__text {
    font-size: 15px;
    letter-spacing: 0;
    color: black;
    height: 120px;
    padding: 0;
    overflow: hidden;
  }
  .partAthlets .cardTypeAthlets__h3 {
    font-size: 28px;
    line-height: 42px;
  }
  .partAthlets .cardTypeAthlets__wrapper {
    width: 100%;
    min-width: 300px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .partAthlets .cardTypeAthlets__h3__pre {
    padding-bottom: 0;
    border-bottom: 4px solid #5e42b0;
  }
  .partAthlets .cardTypeAthlets__row_num_00 {
    height: 310px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 50px;
    line-height: 60px;
    color: #e7e7e7;
    background-color: #fff;
  }
  .partAthlets .cardTypeAthlets__row_num_01 {
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 0;
    background-color: #f5f4f9;
    animation-name: animBlock1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets__row_num_02 {
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 0;
    background-color: #f5f4f9;
    animation-name: animBlock2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets__row_num_03 {
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 0;
    background-color: #f5f4f9;
    animation-name: animBlock3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets__dots {
    width: 100%;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 25px;
    background-color: #f5f4f9;
  }
  .partAthlets .cardTypeAthlets__dots_dot {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin: auto 5px;
  }
  .partAthlets .cardTypeAthlets__dots_dot_1 {
    animation-name: animDot1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets__dots_dot_2 {
    animation-name: animDot2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets__dots_dot_3 {
    animation-name: animDot3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .partAthlets .cardTypeAthlets_n_1 .cardTypeAthlets__row_num_02 .cardTypeAthlets__wrapper {
    background-color: #f5f4f9;
  }
  .partAthlets .cardTypeAthlets_n_1 .cardTypeAthlets__image {
    background-image: url("../img/athlets/addon1_320.svg");
    width: 100%;
    height: 100%;
    left: 0;
    top: -320px;
    height: 300px;
    background-position: center;
  }
  .partAthlets .cardTypeAthlets_n_1 .cardTypeAthlets__addon_2 {
    left: calc(50% - 110px);
    top: 6%;
  }
  .partAthlets .cardTypeAthlets_n_2 .cardTypeAthlets__image {
    background-image: url("../img/athlets/addon2_320.svg");
    width: 100%;
    left: -18px;
    top: -335px;
    height: 300px;
    background-position: center;
  }
  .partAthlets .cardTypeAthlets_n_2 .cardTypeAthlets__addon_2 {
    left: calc(50% - 100px);
    top: 6%;
  }
}
@keyframes animBlock1 {
  0% {
    visibility: visible;
  }
  32% {
    visibility: visible;
  }
  33% {
    visibility: hidden;
  }
  65% {
    visibility: hidden;
  }
  66% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes animBlock2 {
  0% {
    visibility: hidden;
  }
  32% {
    visibility: hidden;
  }
  33% {
    visibility: visible;
  }
  65% {
    visibility: visible;
  }
  66% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes animBlock3 {
  0% {
    visibility: hidden;
  }
  32% {
    visibility: hidden;
  }
  33% {
    visibility: hidden;
  }
  65% {
    visibility: hidden;
  }
  66% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
/********************************************************************/
@keyframes animDot1 {
  0% {
    background-color: #5c3caf;
  }
  32% {
    background-color: #5c3caf;
  }
  33% {
    background-color: #d8d8d8;
  }
  65% {
    background-color: #d8d8d8;
  }
  66% {
    background-color: #d8d8d8;
  }
  100% {
    background-color: #d8d8d8;
  }
}
@keyframes animDot2 {
  0% {
    background-color: #d8d8d8;
  }
  32% {
    background-color: #d8d8d8;
  }
  33% {
    background-color: #5c3caf;
  }
  65% {
    background-color: #5c3caf;
  }
  66% {
    background-color: #d8d8d8;
  }
  100% {
    background-color: #d8d8d8;
  }
}
@keyframes animDot3 {
  0% {
    background-color: #d8d8d8;
  }
  32% {
    background-color: #d8d8d8;
  }
  33% {
    background-color: #d8d8d8;
  }
  65% {
    background-color: #d8d8d8;
  }
  66% {
    background-color: #5c3caf;
  }
  100% {
    background-color: #5c3caf;
  }
}
body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.actions {
  max-width: 1920px;
  min-width: 1000px;
  background-color: #fff;
}

.actions__card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.actions__card__image {
  width: 50%;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.actions__card__expl {
  width: 50%;
  padding-top: 200px;
  padding-left: 120px;
  padding-bottom: 120px;
  padding-right: 40px;
}
.actions__card__h2 {
  font-size: 90px;
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #e7e7e7;
  text-transform: uppercase;
}
.actions__card__text {
  margin-top: 100px;
  width: 330px;
  font-size: 24px;
}
.actions__card__underline {
  color: transparent;
  border-bottom: 4px solid #5e42b0;
  width: 20px;
  height: 80px;
}
.actions__card__sign {
  width: 170px;
  height: 155px;
  display: flex;
  position: absolute;
  left: calc(50% - 85px);
  top: 210px;
  font-size: 24px;
  font-family: "ProximaNova-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  background-color: #5e42b0;
  color: #fff;
}
.actions__card__sign__text {
  margin: auto;
  padding-bottom: 4px;
  border-bottom: 4px solid #8f7bc8;
}
.actions__card_1 .actions__card__image {
  background-image: url("../img/actions/actions_1.jpg");
}
.actions__card_2 {
  flex-direction: row-reverse;
}
.actions__card_2 .actions__card__image {
  background-image: url("../img/actions/actions_2.jpg");
}
.actions__card_3 .actions__card__image {
  background-image: url("../img/actions/actions_3.jpg");
}

@media screen and (max-width: 1200px) {
  .actions {
    min-width: 320px;
  }

  .actions__card {
    flex-direction: column;
    justify-content: flex-start;
  }
  .actions__card__image {
    width: 100%;
    height: 586px;
  }
  .actions__card__expl {
    width: 100%;
    padding-top: 70px;
    padding-left: 0px;
    padding-bottom: 50px;
    padding-right: 0;
  }
  .actions__card__h2 {
    width: 94%;
    margin: 0px auto;
  }
  .actions__card__text {
    width: 94%;
    margin: 0px auto;
  }
  .actions__card__sign {
    width: 117px;
    height: 117px;
    left: 32px;
    top: 500px;
  }
}
body {
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/*****************************************************************************/
body {
  background-color: wheat;
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}

/****************************************************************************/
.whitty {
  width: 100%;
  height: 1500px;
}

/*# sourceMappingURL=style.css.map */
